* {
  margin: 0;
  padding: 0;
}

.hidden{
  display: none !important;
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}


.toast-box {
  position: fixed;
  left:50%;
  top:50%;
  z-index: 999999;
  max-width: 300px;
  min-width: 100px;
  padding: 8px;
  border-radius: 5px;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, .8);
  font-size: 14px;
  text-align: center;
  color: #fff;
  word-break:break-all;
  transform: translate(-50%,-50%);
}

.btn {
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #409eff;
  border-radius: 5px;
  background-color: #409eff;
  color: #fff;
  cursor: pointer;
}
.btn:focus{
  outline: none;
}
.btn:hover{
  background-color: #55aaff;
}
.btn.disabled, .btn[disabled]{
  background-color: #ccc;
  border-color: #ccc;
  cursor: not-allowed;
}

.btn-border{
    background-color: transparent;
    color: #409eff;
}
.btn.btn-border:hover{
  background-color: transparent;
}

.btn.btn-border.disabled, .btn.btn-border[disabled]{
  background-color: transparent;
  border-color: #ccc;
}

.btn+.btn{
  margin-left: 10px;
}

.btn-back,
.btn-close{
  color: #409eff;
  text-decoration: none;
}

.popup .popup-header {
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid #dadada;
  text-align: center;
  font-size: 16px;
}

.popup .popup-header .btn-back{
  position: absolute;
  top: 10px;
  left: 20px;
}

.popup .popup-header .btn-close{
  position: absolute;
  top: 10px;
  right: 20px;
}

.popup .popup-body {
  position: relative;
  overflow-y: auto;
  width: 420px;
  height: 340px;
  padding: 15px;
  font-size: 14px;
}

.popup .popup-running{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.8);
}

.popup .popup-running .text{
  text-align: center;
  font-size: 16px;
}

.popup .popup-running .rectangle-bounce {
  margin-top: 130px;
  height: 52px;
	text-align: center;
}

.popup .popup-running .rectangle-bounce div {
	height: 100%;
	width: 6px;
	margin: 0 2px 0 0;
	background-color: #999;
	display: inline-block;
	-webkit-animation: stretchdelay 1.2s infinite ease-in-out;
	animation: stretchdelay 1.2s infinite ease-in-out
}

.popup .popup-running .rectangle-bounce .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s
}

.popup .popup-running .rectangle-bounce .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s
}

.popup .popup-running .rectangle-bounce .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s
}

.popup .popup-running .rectangle-bounce .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s
}

@-webkit-keyframes stretchdelay {
	0%, 40%, 100% {
		-webkit-transform: scaleY(0.4)
	}

	20% {
		-webkit-transform: scaleY(1)
	}
}

@keyframes stretchdelay {
	0%, 40%, 100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4)
	}

	20% {
		transform: scaleY(1);
		-webkit-transform: scaleY(1)
	}
}

.popup .popup-loading{
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
}

.popup .popup-footer {
  padding: 10px 20px;
  text-align: right;
  border-top: 1px solid #dadada;
}

.popup .popup-file-list li{
  display: flex;
  padding: 10px 0;
  list-style: none;
  font-size: 14px;
}
.popup .popup-file-list li+li{
  border-top: 1px solid #dadada;
}
.popup .popup-file-list label{
  flex: 1;
}

.popup .popup-file-list [type="checkbox"]{
  margin-left: 10px;
  margin-right: 4px;
  vertical-align: middle;
}

.popup .popup-file-list a{
  margin: 0 4px;
  color: #409eff;
}

.log{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 15px;
  border-top: 1px solid #dadada;
  background-color: #fff;
}

.log h4{
  padding-bottom: 5px;
  border-bottom: 1px solid #dadada;
  font-size: 14px;
}

.log .textarea-group{
  padding: 8px 0;
}

.log .textarea-group textarea{
  overflow-y: auto;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding: 0 4px;
  border: 1px solid #dadada;
  border-radius: 3px;
  font-size: 14px;
  font-family: Arial;
  resize: none;
}

.log .textarea-group textarea:focus{
  outline: none;
}

.log .btn-group{
  text-align: right;
}

.dialog-mask{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5)
}
.dialog-wrap{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 3px;
  background-color: #ffff;
  transform: translate(-50%, -50%);
}
.dialog-header{
  padding: 10px;
  border-bottom: 1px solid #dadada;
  text-align: center;
  font-size: 16px;
}
.dialog-text{
  width: 200px;
  line-height: 1.6;
  padding: 10px;
  text-align: center;
  font-size: 16px;
}
.dialog-body{
  padding: 10px;
}
.dialog-body .form-group{
  display: flex;
  font-size: 14px;
  margin-bottom: 10px;
}
.dialog-body .form-group label{
  width: 70px;
  line-height: 26px;
  text-align: center;
}
.dialog-body .form-group .form-control{
  overflow: hidden;
  -webkit-flex: 1;
  flex: 1;
  height: 26px;
  line-height: 26px;
  padding: 0 4px;
  border: 1px solid #dadada;
  border-radius: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dialog-body .form-group .check-control{
  line-height: 30px;
  padding: 0 4px;
  vertical-align: middle;
}
.dialog-footer{
  display: flex;
  border-top: 1px solid #dadada;
}
.dialog-footer .btn{
  -webkit-flex: 1;
  flex: 1;
  line-height: 1;
  height: auto;
  padding: 10px;
  border: none;
  border-radius: 0;
  font-size: 16px;
  background-color: transparent;
  color: #409eff;
}
.dialog-footer .btn+.btn{
  margin-left: 0;
  border-left: 1px solid #dadada;
}